<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let us design a retreat right out your back door!</h2>
                <hr class="light">
                <p class="text-faded">
                    Imagine coming home after a long day and being able to sit outside and enjoy the cool evening next to a radiant & luxurious firepit.
                    <br/>
                    Or, how about enjoying a warm summer day under the gentle shade of a new pergola, all while sitting on a one-of-a-kind patio designed just for your space.
                    <br/><br/>
                    Whatever you're looking for, Banning Hardscapes can help you realize your dreams.
                </p>
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Schedule a free estimate!</a>
            </div>
        </div>
    </div>
</section>
