<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Transform your outdoor space</h1>
            <hr>
            <p>Banning Hardscapes is a full service hardscape construction company that has been serving Delaware since 1995. We offer superior design and installation of patios, pergolas, walkways, retaining walls, and a variety of other outdoor features.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
