<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Unrivaled Quality</h3>
                    <p class="text-muted">We have a proven history of excellence, backed by a written warranty on all workmanship.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-edit wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Fully Customized</h3>
                    <p class="text-muted">We work with every client to create a outdoor space that will bring pleasure for years to come.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-folder-open-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Free Estimates</h3>
                    <p class="text-muted">The consultation comes at no cost to you. Don't hesitate to schedule at your convenience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>24 Years of Service</h3>
                    <p class="text-muted">Banning Hardscapes has been proudly serving every corner of Delaware since 1995.</p>
                </div>
            </div>
        </div>
    </div>
</section>
